*{
    font-family: 'Red Hat Display', sans-serif;
}
div.container{
    max-width: 700px;
    background-color: #485056;
    margin: 0 auto;
    border-radius: 20px 20px 0 0;
}

div.containerRel{
    max-width: 700px;
    background-color: #485056;
    margin: 0 auto;
    border-radius: 20px;
    box-shadow: 0 5px 20px #A0A0A0;
}

div.panel-body{
    position: relative;
    width: 700px;
    margin: 0 auto;
    border-top:solid 1px #11181A;
    border-radius: 0 0 20px 20px ;
    overflow: hidden;
    padding-top: 10px;
    background-color: #485056;
    z-index: 0;
    
}


img#admImg{
    float:left;
}

span#funcao{
    float:left;
    margin-top:16px;
    margin-left: 5px;
    color:#fff;
}

a#arrancha{
    margin-left:  10px;
    margin-right: 10px;
}

  a#arrancha:hover::after {
    content: attr(title);
    background-color: #333;
    color: #fff;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 120%;
    left: 50%;
    transform: translateX(-50%);
  }


body{
    background-color: #11181A;
}

/*GERAR RELATÓRIO*/
div.inputRel{
    width: 200px;
    padding: 5px 5px 10px 10px ;
}

input#calendario_data{
    width: 210px;
    margin-left: -10px;
    background-color:#404040 ;
    color: #FFF;
    font-size: 20px;
    text-align: center;
    border: 1px solid #000;
    border-radius: 5px;
}

select#companhiaRel{
    width: 210px;
    margin-left: -10px;
    background-color:#404040 ;
    color: #FFF;
    font-size: 20px;
    text-align: center;
    border: 1px solid #000;
    border-radius: 5px;
}

select#companhiaRel option{
    font-size: 15px;
}

label.infoRel{
    text-align: center;
    color: #FFF;
    margin-bottom: 10px;
}

label.textoOpcao{
    color: #FFF;
    padding-top: 10px;
}

input#botaoRel{
    width: 210px;
    margin-left: 10px;
    background-color:#404040 ;
    color: #FFF;
    font-size: 20px;
    text-align: center;
    border: 1px solid #000;
    border-radius: 5px;
    margin-bottom: 20px;
}

input#botaoRel:hover{
    background-color: #485056;
    animation: pulse 1s infinite;
}

@keyframes pulse {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.1);
    }
    100% {
      transform: scale(1);
    }
  }
  
input.optionsRadios{
    border: none;
}




  
div#radioPerson {
    height: 30px;
    width: 500px;
    display: flex;
    align-items: center;
    place-content: center;
    column-gap: 30px;
    font-family: sans-serif;
    margin-left: -100px;
  }
  
  input[type='radio'] {
    display: none;
  }
  
  .radio-container label {
    display: flex;
    align-items: center;
    column-gap: 10px;
  }
  
  .custom-radio {
    border: 1px solid #fff;
    width: 20px;
    height: 20px;
    display: grid;
    place-content: center;
    border-radius: 50%;
    margin-bottom: 5px;
  }
  
  .custom-radio,
  span {
    transition: 0.5s ease;
    color: #fff;
  }
  
  .custom-radio span {
    content: '';
    width: 8px;
    height: 8px;
    background: #fff;
    border-radius: 50%;
  }
  
  input[type='radio']:checked + .custom-radio {
    border-color: #5A97FF;
  }
  
  input[type='radio']:checked + .custom-radio span {
    background: #5A97FF;
  } 